.text {
  color: rgb(23, 25, 51);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}

.circle {
  position: absolute;
  top: -450px;
  left: -400px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #ff4b4b;
}
