.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.item p {
  margin-left: 25px;
  color: #ff4b4b;
}

.btn {
  color: white;
  background: #ff4b4b;
  border: none;
  width: 65px;
  height: 25px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;

  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(23, 25, 51);
  color: #ff4b4b;
}
