.box {
  position: relative;
  z-index: 1;
  display: flex;
  min-width: 300px;
  margin-top: 20px;
  justify-content: flex-start;
}

.miniBox {
  display: flex;
  flex-direction: column;
}

.avatar {
  min-width: 50px;
  max-width: 60px;
  margin-right: 10px;
}

.name {
  margin-bottom: 8px;
  color: rgb(23, 25, 51);
  font-size: 20px;
  font-weight: 400;
}

.exit {
  color: #ff4b4b;
  background: rgb(23, 25, 51);
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 6px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.exit:hover,
.exit:focus {
  background-color: white;
}
